<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:700,400" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/animate.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/showup.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/theme.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    <link rel="stylesheet" title="green" type="text/css" href="{{asset "css/theme-green.css"}}" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{asset "js/html5shiv.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/respond.min.js"}}"></script>
    <![endif]-->
    <script type="text/javascript" src="{{asset "js/modernizr.min.js"}}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="{{body_class}}">

    <header class="blog-header animated fadeIn" {{#if post.image}} style="background-image: url({{post.image}})" {{else}} {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}} {{/if}}>
        <div class="blog-section-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
                        <div class="blog-details">
                            <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
                            <h4 class="blog-description">{{@blog.description}}</h4>
                            <h3 class="page-tag">{{tag.name}}</h3>
                            {{> socials}}
                            {{> nav}}
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Início</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Matérias <span class="caret"></span></a>
                                <ul id="tags" class="dropdown-menu"></ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="blog-footer" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        <div class="blog-section-overlay">
            <a class="subscribe" href="{{@blog.url}}/rss/"><span class="fa fa-rss"></span></a>
            <div class="inner">
                <section><a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull;</section>
            </div>
        </div>
    </footer>

    <a href="#" class="btn back-to-top btn-dark btn-fixed-bottom">
        <span class="fa fa-chevron-up"></span>
    </a>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for theme }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/imagesloaded.pkgd.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/masonry.pkgd.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/lightbox-2.6.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/showup.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/SmoothScroll.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/config.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    <script src="/assets/js/app.js"></script>

</body>
</html>