{{!< default}}
<div class="container">
    <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      {{! Everything inside the #post tags pulls data from the post }}
      {{#post}}
          <article class="{{post_class}}">
              <div class="post-featured" title="Em destaque"></div>
              <h1 class="post-title">{{{title}}}</h1>
              <div class="post-meta">
                  <span class="fa fa-calendar"></span>  <time datetime="{{date format="DD/MM/YYYY"}}">{{date format='DD MMM YYYY'}}</time>
                {{#if tags}}
                    on
                        <span class="post-tags">
                          {{tags separator=", "}}
                        </span>
                {{/if}}
              </div>
              <section class="post-content">
                {{content}}
              </section>

              <footer class="post-footer">
		  <hr/>
		  <section class="post-share colors-hover">
		      <h4>Compartilhar</h4>
		      <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
		         onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
		          <span class="fa fa-twitter"></span>
		      </a>
		      <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
		         onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
		          <span class="fa fa-facebook"></span>
		      </a>
		      <a href="https://plus.google.com/share?url={{url absolute="true"}}"
		         onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
		          <span class="fa fa-google-plus"></span>
		      </a>
		  </section>
              </footer>
          </article>

          <section class="author">
            {{#if author.image}}
                <img src="{{author.image}}" alt="{{author.name}}"/>
            {{/if}}
              <h4 class="author-name">{{author}}</h4>
              <p>{{author.bio}}</p>
              <ul class="author-meta clearfix">
                {{#if author.location}}<li><span class="fa fa-map-marker"></span> {{author.location}}</li>{{/if}}
                {{#if author.website}}<li><span class="fa fa-link"></span> <a href="{{author.website}}">{{author.website}}</a></li>{{/if}}
              </ul>
          </section>
      </div>
      {{/post}}
    </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="disqus">
                    <div id="disqus_thread"></div>
                </div>
            </div>
        </div>
</div>
